<b>Bunların hepside ne oluyor?</b>
<p>
  Şuanda bulunmuş olduğun sayfa şahsım yani Umut TOKER'in kişisel web sitesi oluyor. Yani özellikle ulaşmak istemediysen burada olman çok zor.
</p>
<p>
Yanlışlıkla buradaysan geldiğin gibi gidebilirsin yada dur dur <a href="http://giphy.com/gifs/disney-pixar-finding-nemo-EbRqipGv2LFzq" target="_blank">şuna</a> bir göz at.
</p>
<b>Ee peki burada ne var?</b>
<p>
Genelde melankolik anlarımda gelip saçmaladığım bir blog burası. Yıllardır düşünüpde bir türlü yapmadığım teknik makaleler de yer almasını istiyor, umuyor ve az ihtimalli olarak taahhüt ediyorum.
işte o zaman belki burası daha fazla kişi için yararlı hale gelebilir. 
</p>
<p>
Ee madem o kadar geldin, senin için buraya bi kaç tane kedili gif bırakıyım neşelen ;)
  <ul>
    <li><a href="http://giphy.com/gifs/cat-hacker-webs-o0vwzuFwCGAFO" target="_blank">Hacker Kedi</a></li>
    <li><a href="http://giphy.com/gifs/cat-money-cash-ND6xkVPaj8tHO" target="_blank">Paragöz Kedi</a></li>
    <li><a href="http://giphy.com/gifs/cat-funny-animation-aC45M5Q4D07Pq" target="_blank">Masöz Kedi</a></li>
  </ul>
</p>
